@{
    ViewData["Title"] = "About";
}


<!--
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
    -->

<section class="site-section">
    <div class="container">

        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-4">Hi There! I'm Hari Rompicharla</h2>
                        <p>I'm an IT guy working with Computers 8hrs a day. In rest of my time, I'm a Netflix lover, a blogger and more importantly a spiritual seeker. I love spending my time in knowing about this very Alchemy of life and sharing it with my fellow friends who are in the same page with me. So, Please checkout my posts and do write to me in case of any queries or suggesstions.</p>
                    </div>
                </div>
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 mb-5">
                        <h2>My Latest Posts</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="post-entry-horzontal">
                            <a href="blog-single.html">
                                <div class="image" style="background-image: url(images/img_10.jpg);"></div>
                                <span class="text">
                                    <div class="post-meta">
                                        <span class="category">Travel</span>
                                        <span class="mr-2">March 15, 2018 </span> &bullet;
                                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                    </div>
                                    <h2>There’s a Cool New Way for Men to Wear Socks and Sandals</h2>
                                </span>
                            </a>
                        </div>
                        <!-- END post -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <!-- END main-content -->
            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="~/images/hari_rompicharla.jpg" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>Hari Rompicharla</h2>
                            <p>Connect with me on my social pages using the below links.</p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                    </ul>
                </div>
            </div>
            <!-- END sidebar -->
        </div>
    </div>
</section>